*~
.#*
*.o
*.rej
*.orig
*.patch

Makefile
Makefile.in

aclocal.m4
autom4te.*
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
stamp-h1

compile
depcomp
install-sh
missing

.deps
.dirstamp

debugedit
debugedit.1
sepdebugcrcfix
sepdebugcrcfix.1
debugedit-classify-ar
debugedit-classify-ar.1

find-debuginfo
find-debuginfo.1

atconfig
atlocal
package.m4
testsuite
testsuite.log

debugedit-*.tar.*
debugedit-*/
