*~
.#*
*.o
*.rej
*.orig
*.patch

Makefile
Makefile.in

aclocal.m4
autom4te.*
config.cache
config.h
config.h.in
config.log
config.status
configure
stamp-h1

compile
depcomp
install-sh
missing

.deps
.dirstamp

debugedit
sepdebugcrcfix

atconfig
atlocal
package.m4
testsuite
testsuite.log

debugedit-*.tar.*
debugedit-*/
